@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_RolesWorkLayout.cshtml";
}

@section MenuSection
{
    @Html.Partial("_MenuWorkChiefPartial")
}

<h2>Bienvenido al Inicio de el Jefe Labor </h2>

<br />
El Sistema de Evaluación Docente SEDOC ofrece al Jefe Labor las siguientes funcionalidades: <br /><br />
<ol>
    <li>1. Evaluar docentes: que participan en la labor que el dirige.</li>
</ol>