@model IEnumerable<MvcSEDOC.Models.savedDataSIGELA>
@{
    ViewBag.Title = "Importar Datos de SIGELA";
}

@section MenuSection
{
    @Html.Partial("_MenuAdminPartial")
}

<h2>ImportDataEvaluations</h2>
