@{
    ViewBag.Title = "Inicio";
}

@section MenuSection
{
    @Html.Partial("_MenuAdminPartial")
}

<h2>Bienvenido al Inicio de administrador</h2>

El Sistema de Evaluación Docente SEDOC ofrece al Administrador las siguientes funcionalidades: <br /><br />
<ol>
    <li>1. Gestionar Privilegios: Asignar jefes de los departamentos de la Universidad del Cauca.</li>
    <li>2. Gestionar Cuestionarios: Crear, Editar, Eliminar cuestionarios, grupos y preguntas.</li>
    <li>3. Importar Datos: Sigela y Simca.</li>
    <li>4. Evaluar: los jefes de cada labor.</li>
</ol>