@{
    ViewBag.Title = "Realizar AutoEvaluación";
}

@section MenuSection
{
    @Html.Partial("_MenuTeacherPartial")
}
<h2>AutoEvaluación</h2>
<h3>Sus Autoevaluaciones ya fueron realizadas.</h3>
<h3>Cualquier inquietud comuniquese con el administrador</h3>
