@{
    ViewBag.Title = "Evaluar Docentes a Cargo";
}

@section MenuSection
{
    @Html.Partial("_MenuWorkStudentPartial")
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="errorEd">@ViewBag.Error</div>
    <meta http-equiv="Refresh" content="1; url=@Url.Action("evaluateSubordinates", "Student")" />  
    
}
@section SpecialJavascriptForView
{
    <script src="@Url.Content("~/Scripts/accordionEvaluteSubordinateReady.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/student-EvaluateSubordinates1.js")" type="text/javascript"></script>
}

<h2>Evaluar Docentes a Cargo</h2>
