@{
    ViewBag.Title = "Inicio";
}

@section MenuSection
{
    @Html.Partial("_MenuTeacherPartial")
}

<h2>Bienvenido al inicio de docente</h2>

<br />
El Sistema de Evaluación Docente SEDOC ofrece al Docente las siguientes funcionalidades: <br /><br />
<ol>
    <li><strong>1. Realizar Autoevaluación:</strong> para cada una de las labores que el docente tiene asignadas.</li>
    <br />
    <li><strong>2. Consultas:</strong></li>
    <li>Consultar la calificación total obtenida en cada una de sus labores.</li>
    <li>Consultar la evaluación obtenida en cada una de sus labores de acuerdo al periodo académico seleccionado.</li>
    <li>Consultar la autoevaluación  obtenida en cada una de sus labores de acuerdo al periodo académico seleccionado.</li>
</ol>