<h2>Acceso Denegado!!</h2>
<p>
     Usted no cuenta con los privilegios suficientes para acceder a la dirección solicitada.     
     Si considera que esto es un error por favor contacte al administrador del sistema.
     <br /><br />
     @Html.ActionLink("Volver al inicio","Index","Home")
</p>
