@{
    ViewBag.Title = "Inicio";
}

@section MenuSection
{
    @Html.Partial("_MenuStudentPartial")
}

<h2>Bienvenido al Inicio de Estudiante</h2>

El Sistema de Evaluación Docente SEDOC ofrece al Estudiante las siguientes funcionalidades: <br /><br />
<ol>
    <li>1. Diligenciamiento de evaluaciones docentes.</li>
    <li>2. Gestion de información de acceso.</li>    
</ol>
